html {
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: auto;
  background-image: url("assets/fondo.jpeg");
  background-position: center;
  background-size: cover;
  color: white;
}



.paused .Opponent {
	animation: none;
	-webkit-animation: none;
}

@-webkit-keyframes rotation {
	from {
		transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
		-webkit-transform: rotate(359deg);
	}
}

#pause {
	border: yes;
	background: #ff5900;
	color: #000000;
	padding: 10px 20px;
	outline: none;
	font-family: monospace;
	cursor: pointer;
}	

#reset {
	border: yes;
	background: #ff5900;
	color: #000000;
	padding: 10px 20px;
	outline: none;
	font-family: monospace;
	cursor: pointer;
}	

